@import '../../../../../variables';

.statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    font-size: 24px;
    line-height: 38px;
    align-items: flex-start;
    align-self: stretch;

    h2 {
        font-family: $secondary-font;
    }
}

.flex-grow {
    flex: 1 0 0;
}

.flex-start {
    align-items: flex-start;
}

.grid {
    display: grid;
}

span {
    text-transform: capitalize;
}

.placeholder-footer {
    display: flex;
    padding: 20px;
    gap: 10px;
    border-radius: 0px 0px 20px 20px;
    background: $background-color;
}