@import '../../../variables';

header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    font-family: $main-font;
    font-size: 20px;

    .layout-item {
        display: flex;
        align-items: center;
        gap: 30px;
        white-space: nowrap;
    }
}

.fill {
    padding: 0;
    border: none;
    background-color: transparent;
    height: 24px;
}

@media (min-width: 851px) {
    .mobile-only {
        display: none !important;
    }
}