@import '../../../../../variables';

.collection-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    .collection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }
}